__pycache__/

mpc_noise_sampling/data/benchmarks/
mpc_noise_sampling/data/failure/
mpc_noise_sampling/data/measurements/
mpc_noise_sampling/data/results/

mpc_noise_sampling/MP-SPDZ/

**/*.npy
**/*.csv
**/*.log
**/*.pgf

**/*.aux
**/*.bbl
**/*.fdb_latexmk
**/*.fls
**/*.loc
**/*.log
**/*.out
**/*.soc
**/*.synctex.gz

trade_offs_evaluation/dataset/mnist/MNIST
trade_offs_evaluation/dataset/fashion_mnist/FashionMNIST